<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Requested</title>
</head>
<body>
    <p>Hello,</p>
    <p>We received a request to reset the password for your account associated with {{ email }}.</p>
    <p>Please click the link below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}/">
            Reset Password
        </a>
    </p>
    <p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>
    <p>Thank you,<br/>The {{ site_name }} Team</p>
</body>
</html>
