<!-- password_reset_request.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <form action=href ="{{ protocol }}://{{ domain }}/reset-password/{{ uid }}/{{ token }}/" method="post">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
