<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
</head>
<body>
    <h2>Payment Confirmation</h2>
    <p>Thank you for your payment!</p>
    <p>Details:</p>
    <ul>
        <li>Payment ID: {{ Payment.Payment_id }}</li>
        <li>User ID: {{ Payment.user_id }}</li>
        <li>Order ID: {{ Payment.order_id }}</li>
        <li>Payment Amount: {{ Payment.payment_amount }}</li>
        <li>Payment Date: {{ Payment.payment_date }}</li>
        <li>Payment Status: {{ Payment.payment_status }}</li>
    </ul>
</body>
</html>
